/* ---------------------- */
/* tablet screen */
/* ---------------------- */

@media (max-width: 1140px) and (min-width: 900px) {
  /* ---------------------- */
  /* navigation menu */
  /* ---------------------- */

  .change-bg {
    width: 550px;
    height: 700px;
  }
  /* ---------------------- */
  /* logo */
  /* ---------------------- */

  .logo {
    width: 200px;
    top: 0;
    right: 0;
    position: absolute;
    justify-content: space-between;
    margin-top: 10px;
  }

  .logo-img {
    width: 80px;
  }

  h3 {
    font-size: 1.5rem;
    z-index: 1;
  }

  /* ---------------------- */
  /* hero section */
  /* ---------------------- */

  .hero-img-small {
    display: none;
  }

  .hero-text {
    position: absolute;
    width: 75%;
    top: 25%;
    left: 5%;
    font-size: 1.75rem;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.1;
  }

  .hero-text-large {
    display: none;
  }

  .hero-text-small {
    display: block;
  }

  h1 {
    margin-block-start: 20px;
    margin-block-end: 20px;
  }

  .hero-button {
    position: absolute;
    top: 55%;
    left: 5%;
  }

  /* ---------------------- */
  /* scroll arrows */
  /* ---------------------- */

  .scroll {
    bottom: -35px;
  }

  .scroll-arrow,
  .scroll-arrow2,
  .scroll-arrow3 {
    font-size: 1.7rem;
  }
  /* ---------------------- */
  /* about section */
  /* ---------------------- */

  .about {
    height: 550px;
  }

  .about-details {
    margin: 0 40px;
    flex-direction: row;
  }
  .about-text {
    width: 90%;
    margin-top: 60px;
    margin-right: 20px;
  }

  .about-text h2 {
    font-size: 1.75rem;
  }

  .about-text h3 {
    font-size: 1.25rem;
  }

  .about-text-paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .spacer {
    display: none;
  }

  .headshot2 {
    width: 100px;
    margin: 90px auto 0 auto;
  }
  /* ---------------------- */
  /* rodeo story section */
  /* ---------------------- */

  .ribbon-img {
    margin-top: 70px;
  }

  .ribbon-img-flipped {
    margin-top: 70px;
  }

  /* ---------------------- */
  /* work section */
  /* ---------------------- */

  .logo-grid {
    margin-top: 150px;
    margin-left: 10px;
    width: 50%;
    height: 50%;
    position: relative;
  }

  .client-logo {
    width: 85px;
    height: 85px;
    margin: 10px 10px;
  }
}
